@import url('https://fonts.googleapis.com/css?family=Bitter:400,700|Raleway:300,400,500,600,700,800,900');
a,
a:hover{
    text-decoration: none !important;
}
.BlogSection {
    background-color: #f1f5f5;
    padding: 100px 0;
}

/* Header Section Style */
.AppHeader{
    background-color: #fff;
    border-bottom: solid 1px #e0e0e0;
}
.navbarTopLogo{
    display: inline-block;
}
.navbarTopLogo h1 a {
    font-family: 'Bitter', sans-serif;
    font-weight: 900;
    color: #03386c !important;
}
.menuList li{
    list-style: none;
    display: inline-block;
}
.menuLinkItem .menuLink {
    color: #000;
    display: inline-block;
    padding: 20px 15px;
    margin-left: 1px;
    font-family: 'Bitter', sans-serif;
    transition: all .3s ease-in-out;
}
.menuLink:hover{
    color: #f6861c;
}
/* Blog Section Title style */
.section-title{
    margin-bottom: 60px;
}
.section-title h2{
    font-family: 'Bitter', sans-serif;
    font-weight: 900;
    font-size: 45px;
    text-transform: capitalize;
    line-height: 60px;
    color: #212121;
    margin-bottom: 20px;
}
.section-title p{
    font-family: 'Bitter', sans-serif;
    color: #999;
    font-size: 16px;
    line-height: 26px;
}
.col-md-offset-2{
    margin-left: 16.66666667%;
}



.blogWrapper{
    background-color: #fff;
    padding: 20px;
    overflow: hidden;
    border: 1px solid #eee;
    margin-bottom: 30px;
}
.blogHeader h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 23px;
    text-transform: capitalize;
    line-height: 30px;
    color: #212121;
    margin-bottom: 15px;
    word-wrap:break-word;
    -ms-word-wrap:break-word
}
.blogHeader h2 a{
    color: #212121;
    transition: all .3s ease-in-out;
}
.blogHeader h2 a:hover{
    background-color:#ffcc00;
}
.blogHeader p{
    font-family: 'Bitter', serif;
    font-size: 15px;
    line-height: 22px;
    color: #5f696e;
}
.postThumbnail {
    margin-bottom: 20px;
    overflow: hidden;
}
.postThumbnail img {
    width: 100%;
    transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}
.blogWrapper:hover .postThumbnail img{
    transform: scale(1.1) rotate(-1deg);
	-webkit-transform: scale(1.1) rotate(-1deg);
	-moz-transform: scale(1.1) rotate(-1deg);
	-ms-transform: scale(1.1) rotate(-1deg);
	-o-transform: scale(1.1) rotate(-1deg);
}